# Private anny.co package gitlab registry
@anny.co:registry=https://gitlab.com/api/v4/projects/25840525/packages/npm/
//gitlab.com/api/v4/projects/25840525/packages/npm/:_authToken=Fq2WgbZCHfeyGQ7nt6wk
