# Private anny.co package gitlab registry
@anny.co:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=czGCN2bYWJ5uVu4CLfT1
//gitlab.com/api/v4/projects/:_authToken=czGCN2bYWJ5uVu4CLfT1
